/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require 'masonry/basic'
	*= require 'masonry/centered'
	*= require 'masonry/fluid'
	*= require 'masonry/gutters'
	*= require 'masonry/infinitescroll'
	*= require 'masonry/right-to-left'
	*= require 'masonry/transitions'

 *= require_self
 */

@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';
@import "materialize/extras/nouislider";
@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Great+Vibes|Alex+Brush|Calligraffitti);

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	/*font-family: 'Dancing Script', cursive;*/ /*not good*/
	font-family: 'Great Vibes', cursive;
	/*font-family: 'Alex Brush', cursive;*/
	/*font-family: 'Calligraffitti', cursive;*/
	font-size: 25px;
}


main {
	flex: 1 0 auto;
}

.centered { margin: 0 auto; }
.col0 { width: 180px; height: 260px; }
.col1 { width: 280px; height: 260px;}
/*.col2 { width: 380px; height: 260px;}*/
/*.col3 { width: 280px; }
.col4 { width: 380px; }
.col5 { width: 480px; }
*/
.col0 img { max-width: 180px; height: 100%;}
.col1 img { max-width: 280px; height: 100%;}
/*.col2 img { max-width: 380px; height: 260px;}*/
/*.col3 img { max-width: 280px; }
.col4 img { max-width: 380px; }
.col5 img { max-width: 480px; }*/

.carousel .carousel-item img {
    width: 100%;
}